# Ignore environment files
Backend/.env

# Ignore virtual environment
.venv/

# Ignore pycache
__pycache__/

echo -e "dist/\nbuild/\n*.spec\n__pycache__/\n*.pyc\n.env\n" >> .gitignore

dist/*
!dist/AiAgent-mac.zip
